<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>اطلاعات درست وارد نشده!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
          integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/firstCss.css">
</head>
<body class="bg-dark" style="padding-top: 150px">
<div class="card text-center mx-auto w-75 p-3 bg-secondary" >
    <div class="alert alert-info text-primary" role="alert">
        <h1 class="alert-heading text-danger">400</h1>
        <p th:text="${message}"></p>
        <hr>
    </div>
</div>
</body>
</html>