<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه اصلی مدیریت</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
          integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/firstCss.css">
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand text-warning" href="#">مدیریت</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="profile" class="col-sm-6">
    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}">
        <span class="navbar-brand mb-0 h1 text-warning" th:text="${#authentication.getName()}"></span>
        <button class="btn btn-dark col-sm-4 text-warning position-left" type="submit">خروج</button>
    </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sideBarMenu" class="col-md-3 col-lg-2 d-md-block bg-secondary sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active text-warning" th:href="@{admin/create-new-course}">
                            ایجاد دوره
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-warning" th:href="@{admin/register-newly-added}">
                            تاًیید ثبت نام
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main"></main>
    </div>
</div>
</body>
</html>