<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>در حال بررسی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
          integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/firstCss.css">
</head>
<body class="bg-dark" style="padding-top: 150px">
<div class="card text-center mx-auto w-75 p-3 bg-secondary" >
    <div class="alert alert-info text-primary" role="alert">
        <h4 class="alert-heading text-primary">صبور باشید!</h4>
        <hr>
        <p class="mb-0">
            اطلاعات شما برای مدیر ارسال شده، پس از تاًیید ایشان می توانید وارد صفحه خود شوید!
        </p>
    </div>
</div>
</body>
</html>