<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="myForm" action="http://www.htmlcodes.ws/resources/html-forms-action.cfm">

    <input type="email" name="emailAddr" size="50" list="contacts" multiple>
    <datalist id="contacts">
        <option value="homer@simpson.com">
        <option value="barney@rubble.ws">
        <option value="fred@flinstone.cc">
        <option value="peter@griffin.org">
    </datalist>
    <button>Submit</button>

</form>
<p>Enter multiple email addresses, separated by a comma.</p>
</body>
</html>